/* styles.css */

* {
	font-family: Arial;
}

.rubik-<uniquifier>, h1 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: 3em;
}

.backgroundImage {
	background-image: url(../img/wrench.png);
	width: 400px;
	height: 400px;
}

.backgroundImage:hover {
	background-image: url(../img/clock.png);
	cursor: crosshair;
}

body {
	margin: 100px auto;
	width: 50%;
}
